.home {
  width: calc(100% - var(--sidebar-width-lg));
  padding: 20px;
}
.home-widget {
  display: flex;
  gap: 20px;
  margin: 20px;
  flex-wrap: wrap;
}
@media (max-width: 786px) {
  .home {
    width: calc(100% - var(--sidebar-width-sm));
    padding: 10px;
  }
  .home-widget {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
