.products-list .products-add-btn {
  min-width: 80px;
  float: right;
  padding: 7px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: var(--main-duration);
}
.products-list .products-add-btn:hover {
  background-color: #2d2dd8;
}
.products-list .products-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.products-list .btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0px 5px;
  font-size: 22px;
}
.products-list .btn-delete {
  color: #dd1818;
}
